---
import Layout from "@src/layouts/Layout.astro";
import Welcome from "@components/Welcome.astro";
import Navbar from "@components/Navbar.astro";
import About from "@components/About.astro";
import Experience from "@components/Experience.astro";
---

<Layout title="Fernando Castro">
	<main class="w-screen flex flex-col items-center justify-center">
		<Welcome />
		<div id="mainContent" class="h-screen w-full flex flex-row px-12 pt-20">
			<div class="h-full w-1/3 mr-20">
				<h3 class="text-2xl font-medium">I'm a sofware developer.</h3>
				<Navbar />
			</div>
			<div class="h-full w-full overflow-auto flex flex-col gap-y-10 scrollbar-hide">
				<About />
				<Experience />
			</div>
		</div>
	</main>
</Layout>
