---
import Layout from "../layouts/Layout.astro";
import Welcome from "../components/Welcome.astro";
---

<Layout title="Fernando Castro">
	<main class="w-screen flex flex-col items-center justify-center">
		<Welcome />
	</main>
</Layout>
