---
interface Props {
	id: string;
	tailwindClass: string;
}

const { id, tailwindClass } = Astro.props;

export const prerender = true;
---
<section id={id} class={tailwindClass}>
	<h1 class="text-xl font-medium mb-5 lg:hidden">About</h1>
  <div class="prose prose-invert">
		<p>My journey into coding started in 2019 when I began building small websites using just HTML, CSS, and JavaScript for fun. A few months later, I explored backend development with Node.js, creating basic web applications and mastering CRUD operations. Soon after, I dove into frontend development with React. It was a bit overwhelming at first, as I was only creating simple components. But everything clicked when I followed some YouTube series that showed me how complex projects could get.</p>
		<p>After immersing myself in educational content, I decided to join FreeCodeCamp. There, I learned advanced programming concepts like algorithms and data structures. I had been learning primarily from Spanish content, but FreeCodeCamp pushed me to study in English, which helped me improve both my programming skills and language proficiency.</p>
		<p>While still in college, I discovered my first opportunity as a web developer by joining Battlerol, a company focused on building web RPG games. I primarily worked on a game called Meeple Combat, which was built using bare HTML, CSS, and JavaScript.</p>
		<p>As I tackled increasingly challenging coding problems, I developed a passion for solving algorithms, even though they were tough at first. That led me to discover LeetCode, where I further honed my skills in algorithms and data structures. Eventually, I returned to web development, this time with Next.js, excited to apply everything I had learned.</p>
		<p>Now, I'm working on my own projects using Next.js and Astro, and I've started contributing to the open-source community, continuously learning and growing along the way.</p>
	</div>
</section>