---
---
<section class="w-full rounded-xl border-2 p-10">
  <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, nulla veritatis nostrum nihil incidunt itaque repellendus nemo facere neque eaque, dolorum fuga! Quis reiciendis similique laudantium eum debitis ex, unde cupiditate itaque esse vitae commodi tempora, odio iure exercitationem sint laboriosam expedita consectetur accusantium voluptatum molestiae ut laborum dolores nam repellendus. Iusto quam quis modi id animi quibusdam, debitis nobis asperiores ex illo expedita, ut blanditiis pariatur. Mollitia totam sequi, repellat, sed soluta voluptas cumque aliquid impedit, atque natus nobis accusamus fugit perspiciatis dolorum omnis alias. Adipisci beatae, repellat inventore numquam voluptatibus nobis recusandae autem in provident tempore, optio illo.</p>
</section>