---
import { aboutContent } from "@src/content";

interface Props {
	id: string;
	tailwindClass: string;
}

const { id, tailwindClass } = Astro.props;

export const prerender = true;
---
<section id={id} class={tailwindClass}>
	<h1 class="text-xl font-medium mb-5 lg:hidden">About</h1>
  <div class="flex flex-col gap-y-5 text-base lg:px-10">
		{aboutContent.map((paragraph) => {
			return <p>{paragraph}</p>
		})}
	</div>
</section>