---
import ExperienceCard from "@src/components/ui/ExperienceCard";

interface Props {
	id: string;
	tailwindClass: string;
}

const experiences = [
	{
		job: "Full Stack Developer",
		company: "Facebook",
		from: "2021",
		to: "Present",
		description:
			"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam doloribus obcaecati consequuntur neque, nobis reiciendis aspernatur cumque at libero architecto.",
	},
	{
		job: "Full Stack Developer",
		company: "Facebook",
		from: "2021",
		to: "Present",
		description:
			"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam doloribus obcaecati consequuntur neque, nobis reiciendis aspernatur cumque at libero architecto.",
	},
	{
		job: "Full Stack Developer",
		company: "Facebook",
		from: "2021",
		to: "Present",
		description:
			"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam doloribus obcaecati consequuntur neque, nobis reiciendis aspernatur cumque at libero architecto.",
	},
	{
		job: "Full Stack Developer",
		company: "Facebook",
		from: "2021",
		to: "Present",
		description:
			"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam doloribus obcaecati consequuntur neque, nobis reiciendis aspernatur cumque at libero architecto.",
	},
];

const { id, tailwindClass } = Astro.props;

export const prerender = true;
---
<section id={id} class={tailwindClass}>
	<h1 class="text-xl font-medium lg:hidden">Experience</h1>
	<div class="w-full flex flex-col gap-y-5 lg:grid lg:grid-cols-2 lg:gap-10">
		{experiences.map((experience) => <ExperienceCard experience={experience} client:load />)}
	</div>
</section>
