---
---
<nav class="h-full w-full mt-5">
  <ul class="h-full w-full flex flex-col justify-start items-start gap-y-5">
    <li class="w-full">
			<button type="button" class="w-full p-5 rounded-lg font-medium text-xl text-left text-black bg-white">
				About
			</button>
		</li>
    <li class="w-full">
			<button type="button" class="w-full p-5 rounded-lg font-medium text-xl text-left">
				Experience
			</button>
		</li>
    <li class="w-full">
			<button type="button" class="w-full p-5 rounded-lg font-medium text-xl text-left">
				Projects
			</button>
		</li>
    <li class="w-full">
			<button type="button" class="w-full p-5 rounded-lg font-medium text-xl text-left">
				Contact
			</button>
		</li>
  </ul>
</nav>