---
const sections = ["About", "Experience", "Projects", "Contact"];
---
<nav class="w-full flex flex-col justify-between items-center mt-10">
  <ul class="w-full flex flex-col justify-start items-start gap-y-5">
		{sections.map((section) => (
			<li class="w-full">
				<button type="button" class="w-full p-5 rounded-lg font-medium text-xl text-left text-black bg-white">
					{section}
				</button>
			</li>
		))}
  </ul>
</nav>