---
interface Props {
  title?: string;
  height?: number;
  width?: number;
  class?: string;
}

const { title, height, width, class: className } = Astro.props;
---
<svg
  xmlns="http://www.w3.org/2000/svg"
  fill="none"
  viewBox="0 0 24 24"
  stroke-width="1.5"
  stroke="currentColor"
  class={className}
  height={height}
  width={width}
>
  <title>{title || "Chevron Down Icon"}</title>
  <path
    stroke-linecap="round"
    stroke-linejoin="round"
    d="m19.5 8.25-7.5 7.5-7.5-7.5"
  />
</svg>
