<svg
  width="24"
  height="24"
  viewBox="0 0 24 24"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  {...Astro.props}
  >
  <title>{Astro.props.title || "Argentina"}</title>
  <g clip-path="url(#clip0_35_56)">
  <path d="M24 18C24 18.7073 23.719 19.3856 23.219 19.8857C22.7189 20.3858 22.0406 20.6667 21.3333 20.6667H2.66667C1.95942 20.6667 1.28115 20.3858 0.781049 19.8857C0.280952 19.3856 0 18.7073 0 18V6.00004C0 5.2928 0.280952 4.61452 0.781049 4.11442C1.28115 3.61433 1.95942 3.33337 2.66667 3.33337H21.3333C22.0406 3.33337 22.7189 3.61433 23.219 4.11442C23.719 4.61452 24 5.2928 24 6.00004V18Z" fill="#75AADB"/>
  <path d="M0 8.66663H24V15.3333H0V8.66663Z" fill="#EEEEEE"/>
  <path d="M12 8.66663L12.3253 10.3653L13.276 8.92063L12.926 10.614L14.3566 9.64263L13.3853 11.074L15.0793 10.7246L13.6346 11.6746L15.3333 12L13.6346 12.3253L15.0793 13.276L13.3853 12.926L14.3566 14.3566L12.926 13.3853L13.276 15.0793L12.3253 13.6346L12 15.3333L11.6746 13.6346L10.7246 15.0793L11.074 13.3853L9.64263 14.3566L10.614 12.926L8.92063 13.276L10.3653 12.3253L8.66663 12L10.3653 11.6746L8.92063 10.7246L10.614 11.074L9.64263 9.64263L11.074 10.614L10.7246 8.92063L11.6746 10.3653L12 8.66663Z" fill="#FCBF49"/>
  <path d="M12 9.55329L12.1613 10.3966L12.2386 10.8L12.4646 10.4573L12.9366 9.73996L12.7626 10.5806L12.6793 10.9833L13.0193 10.7526L13.73 10.2706L13.248 10.9813L13.0173 11.3213L13.4193 11.238L14.2606 11.0646L13.5433 11.5366L13.2 11.7613L13.6033 11.8386L14.4466 12L13.6033 12.1613L13.2 12.2386L13.5426 12.4646L14.26 12.9366L13.4186 12.7626L13.016 12.6793L13.2466 13.0193L13.7286 13.7293L13.0186 13.2473L12.6786 13.0166L12.762 13.4193L12.936 14.2606L12.464 13.5433L12.2386 13.2L12.1613 13.6033L12 14.4466L11.8386 13.6033L11.7613 13.2L11.5353 13.5433L11.0633 14.2606L11.2366 13.4193L11.32 13.0173L10.98 13.248L10.2693 13.73L10.7513 13.0193L10.982 12.6793L10.5793 12.7626L9.73863 12.9366L10.456 12.4646L10.7986 12.2386L10.3953 12.1613L9.55329 12L10.3966 11.8386L10.8 11.7613L10.4566 11.5353L9.73929 11.0633L10.58 11.2366L10.982 11.32L10.7513 10.98L10.2686 10.2693L10.9793 10.752L11.3193 10.9826L11.236 10.5806L11.0626 9.73996L11.5346 10.4573L11.7606 10.8006L11.838 10.3973L12 9.55329ZM12 8.66663L11.6746 10.3653L10.7246 8.92063L11.074 10.6146L9.64263 9.64329L10.614 11.0746L8.92063 10.7253L10.3653 11.6753L8.66663 12L10.3653 12.3253L8.92063 13.276L10.614 12.926L9.64263 14.3566L11.074 13.3853L10.7246 15.0793L11.6746 13.6346L12 15.3333L12.3253 13.6346L13.276 15.0793L12.926 13.3853L14.3566 14.3566L13.3853 12.926L15.0793 13.276L13.6346 12.3253L15.3333 12L13.6346 11.6746L15.0793 10.7246L13.3853 11.074L14.3566 9.64263L12.926 10.614L13.276 8.91996L12.3253 10.3646L12 8.66663Z" fill="#843511"/>
  <path d="M12 13.3333C12.7363 13.3333 13.3333 12.7363 13.3333 12C13.3333 11.2636 12.7363 10.6666 12 10.6666C11.2636 10.6666 10.6666 11.2636 10.6666 12C10.6666 12.7363 11.2636 13.3333 12 13.3333Z" fill="#FCBF49"/>
  <path d="M12 13.4167C11.2187 13.4167 10.5834 12.7814 10.5834 12C10.5834 11.2187 11.2187 10.5834 12 10.5834C12.7814 10.5834 13.4167 11.2187 13.4167 12C13.4167 12.7814 12.7814 13.4167 12 13.4167ZM12 10.75C11.3107 10.75 10.75 11.3107 10.75 12C10.75 12.6894 11.3107 13.25 12 13.25C12.6894 13.25 13.25 12.6894 13.25 12C13.25 11.3107 12.6894 10.75 12 10.75Z" fill="#843511"/>
  <path d="M11.8674 11.8493C11.8674 11.9527 11.6934 12.036 11.4787 12.036C11.2634 12.036 11.0894 11.9527 11.0894 11.8493C11.0894 11.746 11.2634 11.6627 11.4787 11.6627C11.694 11.6627 11.8674 11.746 11.8674 11.8493ZM12.9027 11.8333C12.9027 11.726 12.7254 11.6387 12.5067 11.6387C12.288 11.6387 12.1107 11.7253 12.1107 11.8333C12.1107 11.9413 12.288 12.028 12.5067 12.028C12.726 12.028 12.9027 11.9407 12.9027 11.8333Z" fill="#C16540"/>
  <path d="M11.642 12.5827C11.642 12.4987 11.806 12.4301 12.0073 12.4301C12.2086 12.4301 12.3726 12.4981 12.3726 12.5827C12.3726 12.6667 12.2086 12.7354 12.0073 12.7354C11.806 12.7354 11.642 12.6667 11.642 12.5827Z" fill="#ED8662"/>
  </g>
  <defs>
  <clipPath id="clip0_35_56">
  <rect width="24" height="24" fill="white"/>
  </clipPath>
  </defs>
</svg>
