---
import Settings from "@components/ui/Settings";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<title>{title}</title>

		<script is:inline>
			const theme = (() => {
			  if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
					return localStorage.getItem("theme");
					}
				if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
					return "dark";
				}
				return "light";
			})();

			if (theme === "dark") {
				document.documentElement.classList.add("dark");
			} else {
				document.documentElement.classList.remove("dark");
			}
		</script>
	</head>
	<body class="w-screen">
	  <Settings client:load />
		<slot />
	</body>
</html>
<style is:global>
	:root {
    --bg: #f0f0f0;

    /* Social icon */
    --social-icon: #6B6B6B;

    /* Badge */
    --badge-bg: #E0E0E0;
    --badge-text: #000;

    /* Nav */
    --nav-btn-highlight: #fff;

    /* Card */
    --card-bg-default: transparent;
    --card-bg-hover: #fff;

    /* Text */
    --text-primary: #000;
    --text-secundary: #707070;
    --text-alt: #f0f0f0;
	}

	html {
		font-family: "Inter Tight", system-ui, sans-serif;
		background: var(--bg);
		color: var(--text-primary);
	}

	/* Hide scrollbar for Chrome, Safari and Opera */
	.scrollbar-hide::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.scrollbar-hide {
		/* IE and Edge */
		-ms-overflow-style: none;
		/* Firefox */
		scrollbar-width: none;
	}

	.dark {
	  --bg: #000;

		--nav-btn-highlight: #0d0d0d;

		--card-bg-hover: #0B0B0B;

		--text-primary: #fff;
		--text-alt: #000;
	}

	.light {
	  --bg: #f0f0f0;

		--nav-btn-highlight: #fff;

		--card-bg-hover: #fff;

		--text-primary: #000;
		--text-alt: #fff;
	}
</style>
